<style>
  .container{width:100%;margin:auto}
  @media (min-width:600px) {.container{width: 80%;}}
  @media (min-width:768px) {.container{width: 60%;}}
  @media (min-width:1024px) {.container{width: 50%;}}
</style>

<div class="container">
<h1>Nanyang Technological University (Abbreviation: NTU or Nanyang Tech) is one of the two largest public universities in Singapore with the biggest campus in Singapore and the world's largest engineering college.
Its lush 200-hectare Yunnan Garden campus was the Youth Olympic Village of the world's first 2010 Summer Youth Olympics in 2010. Ranked 58th globally by QS World Rankings, with its Engineering faculty ranked 26th, 
NTU is one of the fastest-growing research universities in the world. NTU's share of competitive research funding has increased sevenfold since 2005, with significant funds devoted to the setting up of two Research Centres of Excellence – the Earth Observatory of Singapore and the Singapore Centre on Environmental Life Sciences Engineering.</h1>
<form action="/main" method="post">
     <p> <input type = "submit" value="Main" style="width:200px;height:100px;"></p >
  </form>
</div>