<style>
    .container{width:100%;margin:auto}
    @media (min-width:600px) {.container{width: 80%;}}
    @media (min-width:768px) {.container{width: 60%;}}
    @media (min-width:1024px) {.container{width: 50%;}}
  </style>
  <div class="container">
  <h1>NTU is a really beautiful university!</h1>
  <p><img src="https://www.ntu.edu.sg/images/default-source/cco-images/the-hived35b5919-7b6f-4b40-a40f-5fb994b2878d.jpg?sfvrsn=68137705_3"
    width="300" height="200"></p >
  <form action="/main" method="post">
  
    <p><input type = "submit" value="Main" style="width:200px;height:100px"></p >
  </form>
   <form action="/more_NTU" method="post">
      <input type = "submit" value="Learn more" style="width:200px;height:100px;">
  </form>
  </div>